$steel: #AAAABB;
$water: #3399FF;
$bug: #AABB22;
$dragon: #7766EE;
$electric: #FFBB33;
$ghost: #6666BB;
$fire: #FF4422;
$fairy: #FFAAFF;
$ice: #77DDFF;
$fighting: #BB5544;
$normal: #C2BEB1;
$grass: #77CC55;
$psychic: #FF5599;
$rock: #BBAA66;
$dark: #665544;
$ground: #DDBB55;
$poison: #AA5599;
$flying: #99BBFF;

.steel { background-color: $steel; }
.water { background-color:$water; }
.bug { background-color: $bug; }
.dragon { background-color: $dragon; }
.electric { background-color: $electric; }
.ghost { background-color: $ghost; }
.fire { background-color: $fire; }
.fairy { background-color: $fairy; }
.ice { background-color: $ice; }
.fighting { background-color: $fighting; }
.normal { background-color: $normal; }
.grass { background-color: $grass; }
.psychic { background-color: $psychic; }
.rock { background-color: $rock; }
.dark { background-color: $dark; }
.ground { background-color: $ground; }
.poison { background-color: $poison; }
.flying { background-color: $flying; }